services:
  - type: web
    name: jssp-backend
    runtime: docker
    plan: free
    region: oregon
    healthCheckPath: /
    envVars:
      - key: PORT
        value: 10000
      - key: PYTHONUNBUFFERED
        value: 1